iframe.common-header{
    display: block;
    width: 100%;
    height: 100%;
    scroll: no;
    border: 0;
    overflow: hidden;
    position: fixed;
    top: 80px;  
}

iframe.non-active{
    transform: translateX(200px);
    opacity: 0;
}

iframe.active{
    transform: translateX(0px);
    opacity: 1;
    transition: 0.5s;
}

div#fixed-header.common-header{
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 888;
    top: 0;
    transition: transform 0.3s;
}

div#fixed-header.b-back{ background-image: url(../img/footer_background_b.png); }
div#fixed-header.o-back{ background-image: url(../img/footer_background_o.png); }
div#fixed-header.g-back{ background-image: url(../img/footer_background_g.png); }
div#fixed-header.r-back{ background-image: url(../img/footer_background_r.png); }
div#fixed-header.p-back{ background-image: url(../img/footer_background_p.png); }

div#fixed-menu{
    display: flex;    
    z-index: 900;
    position: fixed;
    top: 30px;
    font-family: 'NotoRegular';
    color: transparent;
}

html.common-header, body.common-header, header.common-header{
    height: 220px;
}

header.common-header nav li{
    list-style: none;
}


header.common-header nav ul{
    padding: 0;    
}

header.common-header nav li a{
    display: inline-block;
    padding: 2px 50px;
    text-decoration: none;
    margin: 10px 0;
    font-family: 'NotoRegular';
    font-size: 30px;

    color: white;        
}

.menu-links-ul li a:hover{
    transform: translateX(10px) !important;
    text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF,
              -1px 1px 0 #FFF, 1px -1px 0 #FFF,
              0px 1px 0 #FFF,  0-1px 0 #FFF,
              -1px 0 0 #FFF, 1px 0 0 #FFF;
    color: #2e2e2e;        
}


#menu{    
    display: block;
    margin: 0px 20px 20px 18px;
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
}

#menu-check{
    visibility: hidden;
}

#hum{
    position: absolute;
    display: block;
    width: 50px;
    height: 4px;
    background: white;
    transition: background 0.3s;
    top: 20px;
    border-radius: 3px;
}

#hum::after{
    transition: background 0.3s;
    display: block;
    content: ' ';
    width: 50px;
    height: 4px;
    background: white;
    position: absolute;
    top: -16px;
    border-radius: 3px;
}

#hum::before{
    transition: background 0.3s;
    display: block;
    content: ' ';
    width: 50px;
    height: 4px;
    background: white;
    position: absolute;
    top: 16px;
    border-radius: 3px;
}

#menu-check:checked + #fixed-header{
    transform: translateY(-2000px);
    transition: 0.1s;
}

#menu.non-active #hum, #menu.non-active #hum::after, #menu.non-active #hum::before{
    background: #2e2e2e;
    transition: 0.4s;
}

#menu.active #hum::after{
    width: 20px;
    transform: translate(-1px,9.5px) rotate(-45deg);
    transition: 0.4s;
}

#menu.active #hum::before{
    width: 20px;
    transform: translate(-1px,-9.5px) rotate(45deg);
    transition: 0.4s;
}

#menu.active #hum{
    transform: rotate(360deg);
    transition: 0.3s;
}

.menu-links-ul li a{
    transition: 0.2s;
}

/* for tablet */
@media screen and (min-width: 480px) {
    #menu{  padding: 0 28px 20px 28px !important; }        
}

/* for pc */
@media screen and (min-width: 1024px) {
    #menu{  padding: 0 28px 20px 28px !important; }        
}
