div.slides-container{
    position: relative;
    width: 100vw;
    height: 100vh;
}

h1.top-title{
    position: absolute;
    top: 30px;
}

div.img-container{
    position: relative;
    transtion: transform 0.5s;
    touch-action: none
}

div.img-container div{
    position: absolute;
    top: 0px;
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    transition-timing-function: ease-out;    
    transition: transform 0.5s;
    transform: scale(1.05);
    overflow: hidden;
}

div.img-container div:hover{
    transform: scale(1.1);
}

.slides001{background-image: url(../img/top_slides/001.png);}
.slides002{background-image: url(../img/top_slides/002.png);}
.slides003{background-image: url(../img/top_slides/003.png);}
.slides004{background-image: url(../img/top_slides/004.png);}

main.index, body.index{
    margin: 0;
    width: 100%;
}

.nav-menu.index{
    max-height: 0px;
    min-width: 100%;
}

#hum.index{ background: white !important; }
#hum::before{ background: white !important; }
#hum::after{ background: white !important; }

#fixed-menu.index{
    color: white !important;
    width: 100%;
    
}

.search-bb{    
    font-family: 'RalewayRegular';
    background-color: transparent;
    padding: 0;
    border: 0;
    border-radius: 0;
    color: inherit;
    appearance: none;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 1em;
    line-height: 1.2;
    padding: 0.5em var(--padding-x);
    border-width: 2px;
    border-style: solid;
}

input.index.search{
    width: 50%;
    --padding-x: 0.5em;
    border: solid 0.5px white;
    color: white;
}

input::placeholder{
  color: white;
}

/* IE */
input:-ms-input-placeholder {
  color: white;
}

/* Edge */
input::-ms-input-placeholder {
  color: white;
}

button.index.search{
    display: inline-flex;
    width: 20%;
    min-width: 62px;
    max-width: 130px;
    justify-content: center;
    align-items: center; 
    --padding-x: 0.5em;
    border: solid 0.5px white;
    color: white;
    cursor: pointer;
}

form.index.search{
    display: flex;
    width: 80vw;
    height: 50px;
    display: block;
    margin: 0;
}


:focus {
    outline: none;
}

.slow0{
    transition: 1s;
}

.top-content{
    font-family: 'NexaLight';
    z-index: 887;
}

h1.top-content{
    position: absolute;    
    top: 100px;
    left: 30px;
    color: white;
    border-style: none;
}

h1.top-content::after{
    border-style: none;
}

img.tmcit-logo{
    margin: 0 28px 0 0;
    justify-content: center;
    align-items: center; 
    --padding-x: 0.5em;
    width: 50px !important;
    height: 50px;
    border-style: none;
    display: none;
}

a.tmcit-logo{
    height: 60px;
}

div.indicator-container{
    padding: 0;
    display: block;
    bottom: 92px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    height: 2px;
    width: 80%;
    border: solid 0.5px white;
    z-index: 887;
}

div.indicator-body{
    height: 2px;
    background: white;
}

div.slide-button-container{
    display: flex;
    position: absolute;
    left: 10%;
    bottom: 100px;
    height: 22px;
    z-index: 887;
}

div.slide-btn{
    height: 20px;
    width: 20px;
    margin-right: 3px;
    border: solid 0.5px white;
    z-index: 887;
    cursor: pointer;
}

.select{
    background: white;
}


.slide-text-container{
    /* transform: translateY(60%); */
    /* z-index: 888; */
}


svg.intro{
    max-width: 800px;
    position: absolute;
    font-size: 0.89em;
    top: 10vh;
}

.font-loader2{
    font-family: 'NexaBold';    
}

.font-loader1{
    font-family: 'NexaLight';    
}

svg.intro .text {
    display: none;
}

.text1{ font-family: 'NexaBold'; }
.text2{ font-family: 'NexaLight'; }
.text3{ font-family: 'NexaBold'; }

svg.intro.go .text {
    font-size: 18px;  
    text-transform: uppercase;
    display: block;
}

svg.intro.go .text-stroke {
    fill: none;
    stroke: rgba(255 255 255 / 30%);;
    stroke-width: 2.8px;
    stroke-dashoffset: -900;
    stroke-dasharray: 900;
    stroke-linecap: butt;
    stroke-linejoin: round;
    animation: dash 2.5s ease-in-out forwards;
}

svg.intro.go .text-stroke:nth-child(2) {
    animation-delay: 0.3s;
}

svg.intro.go .text-stroke:nth-child(3) {
    animation-delay: 0.9s;
}

svg.intro.go .text-stroke-2 {
    stroke: rgba(255 255 255 / 80%);;
    animation-delay: 1.2s;
}

svg.intro.go .text-stroke:nth-child(5) {
    animation-delay: 1.5s;
}

svg.intro.go .text-stroke:nth-child(6) {
    animation-delay: 1.8s;
}

@keyframes dash {
    100% {
        stroke-dashoffset: 0;
    }
}

@media screen and (min-width: 400px) {
    input.index.search{ width: 60% !important; }
}

/* for tablet */
@media screen and (min-width: 480px) {
    h1.top-content{ left: 50px !important; }
    input.index.search{ width: 65% !important; }
    div.indicator-container{ width: 90% !important; }
    div.slide-button-container{ left: 5% !important; }
    img.tmcit-logo{ display: block; margin: 0 38px 0 0;}
}

/* for pc */
@media screen and (min-width: 1024px) {
    h1.top-content{ left: 50px !important; }
    input.index.search{ width: 80% !important; }
    div.indicator-container{ width: 92% !important; }
    div.slide-button-container{ left: 4% !important; }
    img.tmcit-logo{ display: block;}
}

