/*                   ■         ■         */
/*      ■       ■■■■■■■■■■■    ■■■ ■■■■■ */
/* ■■■■■■■■■■■       ■        ■■ ■ ■  ■  */
/*   ■■■■■■■     ■■■■■■■■■   ■■ ■   ■■■  */
/*   ■     ■     ■   ■   ■     ■■    ■   */
/*   ■■■■■■■     ■■■■■■■■■    ■■■■■■■■■  */
/* ■■■■■■■■■■■   ■■■■■■■■■   ■         ■ */
/* ■  ■■■■■  ■         ■     ■■■■■■■■■■■ */
/* ■  ■   ■  ■  ■■■■■■■■■■■       ■      */
/* ■  ■■■■■  ■    ■    ■       ■  ■  ■■  */
/* ■  ■     ■■     ■   ■     ■■   ■   ■■ */
/*         ■■         ■■        ■■■      */
/*                                       */

@font-face{ font-family: 'NotoBlack';   src: url('/fonts/NotoSansJP-Black.otf');   }
@font-face{ font-family: 'NotoBold';    src: url('/fonts/NotoSansJP-Bold.otf');    }
@font-face{ font-family: 'NotoLight';   src: url('/fonts/NotoSansJP-Light.otf');   }
@font-face{ font-family: 'NotoRegular'; src: url('/fonts/NotoSansJP-Regular.otf'); }
@font-face{ font-family: 'NotoThin';    src: url('/fonts/NotoSansJP-Thin.otf');    }
@font-face{ font-family: 'NotoMedium';  src: url('/fonts/NotoSansJP-Medium.otf');  }
@font-face{ font-family: 'NexaLight';   src: url('/fonts/Nexa-Light.otf');         }
@font-face{ font-family: 'NexaBold';    src: url('/fonts/Nexa-Bold.otf');          }
@font-face{ font-family: 'RalewayBold'; src: url('/fonts/Raleway-Bold.otf');       }
@font-face{ font-family: 'RalewaySemiBold'; src: url('/fonts/Raleway-SemiBold.otf');}
@font-face{ font-family: 'RalewayRegular'; src: url('/fonts/Raleway-Regular.otf');}
@font-face{ font-family: 'RalewayThin'; src: url('/fonts/Raleway-Thin.otf');       }
@font-face{ font-family: 'RalewayExBold'; src: url('/fonts/Raleway-ExtraBold.otf');}
@font-face{ font-family: 'RalewayBlack'; src: url('/fonts/Raleway-Black.otf');       }

html,body{
    color: #2e2e2e;
    margin: 0;
}

main p{    
    font-family: 'NotoLight';
    font-size: 14px;
}

main h1.center-no-decoration{
    font-family: 'NotoRegular';
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
    border-bottom: none;
}

main h1.center-no-decoration:after {
  border-bottom: none;
}

main h1{
    font-family: 'NotoRegular';
    font-size: 25px;
    margin-bottom: 30px;
    color: #03006a;
    padding-bottom: 4px;
    border-bottom: solid 2px #7ca3bf;
    position: relative;    
}

main h1:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 2px #03006a;
  bottom: -2px;
  width: 20%;
}

main h2{
    font-family: 'NotoRegular';
    font-size: 18px;
    color: #03006a;
    padding-bottom: 4px;
    border-bottom: solid 2px #7ca3bf;
    position: relative;
}

main h2:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 2px #03006a;
  bottom: -2px;
  width: 20%;
}

main h3{
    font-family: 'NotoRegular';
    font-size: 14px;        
    color: #03006a;
}

main a{
    font-family: 'NotoThin';
    font-size: 14px;
    color: #0f74bd;
    transition: color 0.5s;
}

main a:hover{
    color: #720a94;    
}

main{
    width: 80%;    
    margin: 10% auto 10% auto;
}

/* for tablet */
@media screen and (min-width: 480px) {
}

/* for pc */
@media screen and (min-width: 1024px) {

}
